<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test一些调试东西.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E247C5C1ED93B70006DDE94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E247C751ED93B71006DDE94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E247C801ED93B71006DDE94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
